.changepassword > p {
  font-size: 24px;
  color: #BDBEE0;
}

.changepassword label {
  color: #fff!important;
}

.changepassword Input {
  background-color: #0D1126!important;
  height: 48px!important;
  color: #fff!important;
  font-size: 16px!important;
  font-weight: 600!important;
  border: none!important;
  border-radius: 8px!important;
}

.changepassword__btn {
  display: flex;
  justify-content: center;
}

.changepassword__btn > Button {
  background: #08B952;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 85%;
  height: 58px;
  border: none;
  border-radius: 8px;
}

.changepassword__btn > Button:hover {
  background: #057634;
  color: #b3b3b3;
}