.ant-layout,
.ant-menu {
  min-height: 100vh!important;
  background: #181C35!important;
  border: none!important;
}

.ant-layout-sider-children {
  background: #181C35!important;
}

.site-layout-background {
  background: #090D28!important;
}

.layout__profile {
  font-size: 24px;
  color: #EDEEFF;
  float: right;
  margin-right: 40px;
}

.layout__profile > Button {
  margin-top: 10px;
}

.layout__menuItem {
  display: flex!important;
  align-items: center!important;
  height: 64px!important;
  font-weight: bold!important;
  color: #fff!important;
}

.ant-menu-item-selected {
  height: 64px!important;
  /* font-weight: bold!important; */
  color: #fff!important;
  background: #08B952!important;
  border-radius: 8px;
  box-shadow: 0 0 8px #08B952!important;
}

.layout__menuItem > span > a {
  color: #fff;
}

.layout__menuItem > span > a:hover {
  color: #B2B2B2;
}

.layout__burger {
  background-color: #181C35;
  padding: 12px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.layout__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.layout__header > img {
  width: 34px;
  height: 34px;
}

.layout__header > span {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  margin-left: 8px;
}

.layout__headerProfile {
  display: flex;
}

.layout__btnLogout > Button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
}

/* RESPONSIVE */
@media only screen and (max-width: 1000px) {
  .layout__sider,
  .layout__burgerHeader {
    display: none;
  }
  .ant-layout,
  .ant-menu {
    min-height: auto!important;
  }
}
/* SmartPhone */
@media only screen and (max-width: 500px) {
  
}
/* Tablet */
@media only screen and (min-width: 501px) and (max-width: 768px) {
    
}
