.loginEmail__toggle {
  display: flex;
  justify-content: flex-end;
}

.loginEmail__field .icon {
  width: 30px;
  height: 32px;
}

.loginEmail__field {
  flex-direction: column;
}

.loginEmail__input > Input {
  background-color: #181C35;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin: 10px 0;
  height: 69px;
  width: 430px;
  padding-left: 46px;
  font-weight: 600;
}

.loginEmail__input > Input:hover {
  border: 2px solid #08B952;
}
.loginEmail__input > Input:focus {
  border: 2px solid #08B952;
  transition: all .3s ease;
}

.loginEmail__input {
  position: relative; 
}
.loginEmail__input .icon {
  position: absolute;
  top: 28px;
  left: 8px;
}

.loginEmail__btn {
  margin-top: 1rem;
}

.loginEmail__btn > Button:nth-child(1) {
  background: #08B952;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 246px;
  height: 58px;
  border: none;
  border-radius: 8px;
}

.loginEmail__btn > Button:nth-child(1):hover {
  background: #057634;
  color: #b3b3b3;
}

.loginEmail__btn > button:nth-child(2) {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px; 
  font-weight: bold;
}

.loginEmail__btn > button:nth-child(2):hover {
  color: #1890ff;
}