.ant-modal-content {
  background-color: transparent!important;
}

.wallet__modalTitle {
  font-size: 42px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet__modalIcon {
  width: 42px;
  height: 42px;
}

.wallet__modalContainer {
  width: 100%;
  height: 100%;
}

.wallet__modalDescription {
  max-width: 782px;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: #40425E;
  border-radius: 8px;
}

.wallet__modalDescription > p {
  margin: 0;
  color: #BDBEE0;
  font-size: 42px;
  font-weight: lighter;
}

.wallet__modalButton > a >Button {
  margin-top: 3rem;
  background: #08B952!important;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 70%;
  height: 58px;
  border: none;
  border-radius: 8px;
}

.wallet__modalButton > a > Button:hover {
  background: #057634;
  color: #b3b3b3;
}

.wallet__rowTwo {
  background-color: #181C35;
  margin: 40px 0;
  padding: 20px;
  border-radius: 8px;
}

.wallet__container {
  padding: 90px 50px;
}

.wallet__chartContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.wallet__chartColOne {
  flex: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet__chartColTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wallet__chartColTwo > p {
  font-size: 24px;
  font-weight: 600;
  color: #08B952;
}

/* Change header text and background color */
.ant-table-thead > tr > th {
  color: white!important;
  background: #40425E!important;
  border-bottom: none!important;
}

/* Modify list text and background color */
.ant-table-tbody > tr > td {
  color: #BDBEE0!important;
  background: #181C35!important;
  border-bottom: none!important;
}

.wallet__rowTwo > span {
  font-size: 24px;
  color: #BDBEE0;
  margin-bottom: 20px;
}

.wallet__asset {
  flex: 0.5;
  display: flex;
  justify-content: space-around;
}

.wallet__onceAsset {
  width: 180px;
  height: 304px;
  background-color: #181C35;
  border-radius: 8px;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wallet__onceAsset > img {
  width: 74px;
  height: 74px;
}

.wallet__onceAsset > span:nth-child(2) {
  color: #08B952;
  display: block;
  font-size: 24px;
}

.wallet__onceAsset > span:nth-child(3) {
  color: #BDBEE0;
  display: block;
  font-size: 24px;
}

.wallet__asset {
  display: flex;
}

.wallet__addAsset {
  width: 180px;
  height: 304px;
  background-color: #181C35;
  border-radius: 8px;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wallet__rowOne {
  display: flex;
}

.wallet__chart {
  width: 600px;
  height: 304px;
  background: #181C35;
  border-radius: 8px;
  padding: 20px;
  flex: .5;
}

.wallet__chart > span {
  font-size: 24px;
  color: #BDBEE0;
}

.wallet__addIcon {
  width: 46px;
  height: 46px;
}




/* RESPONSIVE */
/* SmartPhone */
@media only screen and (max-width: 768px) {
  .wallet__rowOne {
    flex-direction: column;
  }
  .wallet__container {
    padding: 10px;
  }
  .wallet__chart {
    width: 100%;
    margin: 10px 0;
  }
  .wallet__asset {
    justify-content: flex-start;
  }
  .wallet__onceAsset {
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .wallet__onceAsset > img{
    width: 34px;
    height: 34px;
  }
  .wallet__onceAsset span {
    font-size: 12px!important;
  }
  .wallet__chartColTwo > p {
    font-size: 16px;
  }
  .wallet__addAsset {
    height: 94px;
    margin-left: 10px;
  }
  .wallet__rowTwo {
    margin-top: 10px;
  }
}
/* Tablet */
@media only screen and (min-width: 501px) and (max-width: 768px) {
    
}
/* Normal */
@media only screen and (min-width: 769px) and (max-width: 1199px){
    
}
/* Large monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
       
}
/* Landscape */
@media only screen and (max-height: 500px) {
    
}
/* Widescreen */
@media only screen and (min-width: 1920px) {
    
}
