.resetpassword {
  width: 100%;
  height: auto;
}

.resetpassword__container {
  max-width: 390px;
  height: 100vh;
  margin: 0 auto;
}

.resetpassword__Title {
  font-size: 32px;
  font-weight: 600;
}

.resetpassword Input {
  background-color: #181C35!important;
  color: #fff!important;
  font-size: 16px!important;
  font-weight: 600!important;
  border: none!important;
  border-radius: 8px!important;
  margin: 10px 0!important;
}

.resetpassword__Field {
  height: 60px!important;
}

.resetpassword__btnReset > Button {
  background: #08B952;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 58px;
  border: none;
  border-radius: 8px;
}
.resetpassword__btnReset > Button:hover {
  background: #057634;
  color: #b3b3b3;
}