.mlayout__footer {
  height: 90px;
}

.mlayout__header {
  height: 60px;
}

.mlayout__container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mlayout__footerContainer {
  height: 100%;
  margin: 0px 10px 0px 10px;
  border-radius: 8px;
  background-color: #23284D;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mlayout__item > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}

.mlayout__icon {
  width: 42px;
  height: 42px;
  display: block;
}

.mlayout__headerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.mlayout__circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #08B952;
  margin: 10px;
}

@media only screen and (min-width: 1001px) {
  .mlayout__footer,
  .mlayout__header { display: none;}
}