.msetting {
  width: 100%;
  height: 100%;
}

.msetting__container,
.msetting__settingContainer,
.msetting__changePassContainer,
.msetting__changePinContainer {
  margin: 10px;
  padding: 10px;
  background-color: #181C35;
}

.msetting__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.msetting__profile > span {
  cursor: pointer;
}
.msetting__profilePic {
  position: relative;
}

.msetting__circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #08B952;
}

.msetting__circle > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 18px;;
}

.msetting__select .ant-select-selector {
  height: 40px!important;
  background-color: #0D1126!important;
}

.msetting__field Input,
.msetting__itemOne Input,
.msetting__itemTwo Input {
  color: #fff;
  background-color: #0D1126;
  border: none;
  border-radius: 8px;
  height: 40px;
}

.msetting__item {
  margin: 10px 0;
}

.msetting__username {
  display: flex;
}

.msetting__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 14px;
}

.msetting__btn > div {
  margin-bottom: 10px;
}

.msetting__btn Button,
.msetting__btnSave > Button,
.msetting__itemTwo Button,
.msetting__changePinContainer Button {
  background: #08B952;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 8px;
}

.msetting__changePinContainer .field-a {
  width: 50px;
  height: 50px;
}

.msetting__btnLogout > Button {
  background: none;
  color: red;
}