.changepin {
  color: #BDBEE0;
}

.changepin > p {
  font-size: 24px;
}

.changepin__btn > Button {
  margin-top: 20px;
  width: 100%;
  height: 64px!important;
  font-weight: bold!important;
  color: #fff!important;
  background: #08B952!important;
  border: none;
  border-radius: 8px;
}