.authlayout {
  width: 100%;
  height: 100%;
  color: #EDEEFF;
}

.authlayout__sectionOne {
  background: rgba(255, 255, 255, 6%);
  max-width: 420px!important;
  min-height: 100vh;
  padding: 50px;
}

.authlayout__sectionOne p {
  font-size: 52px;
  font-weight: bold;
}

.authlayout__sectionOne span {
  font-size: 24px;
}