.loginEmail__field {
  width: 100%;
}
.loginEmail__field .icon {
  width: 30px;
  height: 32px;
}
.loginEmail__input {
  position: relative; 
  margin-top: 20px;
}
.loginEmail__input .icon {
  position: absolute;
  top: 18px;
  left: 8px;
}
.loginEmail__input > Input {
  background-color: #181C35;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  height: 69px;
  padding-left: 46px;
  font-weight: 600;
}
.loginEmail__input > Button {
  width: 100%;
  padding-right: 0;
  color: #585D86;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.loginEmail__btn {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginEmail__btn > Button:nth-child(1) {
  background: #08B952;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 85%;
  height: 58px;
  border: none;
  border-radius: 8px;
}
.loginEmail__btn > Button:nth-child(1) > span {
  display: inline;
}
.loginEmail__btn > Button:nth-child(1):hover {
  background: #057634;
  color: #b3b3b3;
}
.loginEmail__btn > a:nth-child(2) > Button {
  color: #585D86;
  font-size: 16px; 
  font-weight: bold;
}
.loginEmail__btn > a > Button > span:nth-child(2) {
  color: #40FF90;
  margin-left: 8px;
}