.loginPhone__field {
  width: 100%;
}
.loginPhone__field .icon {
  width: 30px;
  height: 32px;
}
.loginPhone__input > Input {
  background-color: #181C35;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin: 10px 0;
  height: 69px;
  width: 100%;
  padding-left: 46px;
  font-weight: 600;
}
.loginPhone__input {
  position: relative; 
}
.loginPhone__input .icon {
  position: absolute;
  top: 28px;
  left: 8px;
}
.loginPhone__input > Button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-right: 0;
  color: #585D86;
  font-weight: bold;
}
.loginPhone__input > Input:hover {
  border: 2px solid #08B952;
}
.loginPhone__input > Input:focus {
  border: 2px solid #08B952;
  transition: all .3s ease;
}
.loginPhone__btn {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginPhone__btn > Button:nth-child(1) {
  background: #08B952;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: 85%;
  height: 58px;
  border: none;
  border-radius: 8px;
}
.loginPhone__btn > Button:nth-child(1) > span {
  display: inline; /* make loading spin inline */
}
.loginPhone__btn > Button:nth-child(1):hover {
  background: #057634;
  color: #b3b3b3;
}
.loginPhone__btn > a:nth-child(2) > button {
  color: #585D86;
  font-size: 16px; 
  font-weight: bold;
}
.loginPhone__btn > a > button > span:nth-child(2) {
  color: #40FF90;
  margin-top: 20px;
  margin-left: 8px;
}