.login__container {
  width: 100%;
  height: 100vh;
  padding: 70px 40px;
}
.login__headerSignup > a > Button {
  background-color: #181C35;
  border: none;
  border-radius: 8px;
  color: #585D86;
  width: 146px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
}
.login__headerSignup > a > Button:hover {
  background-color: #171931;
  color: #fff;
}
.login__left,
.login__right {
  height: 100%;
}
.login__field {
  width: 100%;
}
.login__leftTitle > h1 {
  font-size: 24px;
  font-weight: 200;
  color: #fff;
}
.login__leftTitle > p {
  font-weight: 400;
  font-size: 42px;
}
.login__headerLogin > a > Button {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.login__toggle > Button {
  background: #181C35;
  color: #fff;
  border: none;
  padding: 10px;
  width: 65px;
  height: 48px;
  margin: 0 -1px;
}
.login__toggle > Button:nth-child(1),
.login__toggle > Button:nth-child(2) {
  border-radius: 8px 0 0 8px;
}
.login__toggle > Button:hover {
  transition: 0.1s;
  background: transparent;
  border-bottom: 2px solid #08B952;
}
.login__toggle .icon {
  width: 30px;
  height: 32px;
}
.login__toggleActive {
  border-bottom: 2px solid #08B952!important;
}

/* Responsive */
@media only screen and (max-width: 1000px) {
  .login__sectionOne,
  .login__headerLogin,
  .login__headerSignup {
    display: none;
  }
  .login__left,
  .login__right {
    height: auto;
  }
  .login__container {
    padding: 70px 20px;
  }
}